<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="Mapper.usersMapper"><!--代理开发模式 -->

    <!--该mapper映射到mayikt_users表 -->
    <!--select语句 -->
    <select id="getByUsers" resultType="UserEntity.UserEntity"> <!--查询结果的返回类型(如果有包名，需要加上包名) -->
        select * from mayikt_users
    </select>

</mapper>